.color-orange {
    color: rgb(220, 95, 45) !important; 
}



.display-inline-block{
    display: inline-block;
}

.hover-orange{
    cursor: pointer;
}

.hover-orange:hover{
background-color: rgb(220, 95, 45);
color: white;
}

.box-shadow{
   box-shadow: inset 5px -40px 15px -20px rgba(0, 0, 0, 0.6);
}
.vertical-align_top{
    vertical-align: top;
}
.background-color-light_gray{
    background-color: rgb(245, 245, 245);
}



.padding_0200{
    padding: 0 200px;
}
.fz-14{
    font-size: 14px;
}