.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.shadow {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.06);
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.box-sz-bb {
  box-sizing: border-box;
}
