html {
  background-color: #ffffff;
  font-family: PingFang SC;
}
a {
  text-decoration: none;
}
.page-container .head-container {
  height: 1.17333333rem;
  width: 10rem;
  display: flex;
  align-items: center;
}
.page-container .head-container ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.page-container .head-container ul .arrow {
  width: 3.2rem;
  height: 1.17333333rem;
}
.page-container .head-container ul .arrow a {
  display: flex;
  width: 0.32rem;
  height: 0.64rem;
  padding: 0.26666667rem 2.45333333rem 0.26666667rem 0.42666667rem;
}
.page-container .head-container ul .arrow a i {
  font-size: 0.45333333rem;
  padding: 0.09333333rem 0.05333333rem 0.09333333rem 0.02666667rem;
  color: #000000;
}
.page-container .head-container ul .title {
  width: 2.13333333rem;
  height: 1.17333333rem;
  margin: 0 1.93333333rem 0 0.73333333rem;
}
.page-container .head-container ul .title p {
  width: 1.81333333rem;
  height: 0.64rem;
  font-size: 0.45333333rem;
  margin: 0.26666667rem 0.16rem;
}
.page-container .head-container ul .record a {
  display: flex;
  width: 1.6rem;
  height: 0.56rem;
  font-size: 0.4rem;
  color: #2CB5A5;
  padding: 0.30666667rem 0.4rem 0.30666667rem 0rem;
}
.page-container .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container .main-container img {
  width: 6.4rem;
  height: 5.49333333rem;
  margin: 0.81333333rem 1.8rem 0.48rem 1.8rem;
}
.page-container .main-container p {
  font-size: 0.42666667rem;
  line-height: 0.66666667rem;
  text-align: left;
  margin: 0 2.85333333rem;
}
.page-container .main-container p span {
  color: #16C2A3;
}
.page-container .main-container .content-container {
  width: 9.2rem;
  height: 2.08rem;
  border: 1px solid #EDEDED;
  border-radius: 0.10666667rem;
  padding-right: 0.26666667rem;
  margin: 0.89333333rem 0.4rem 0.4rem 0.4rem;
}
.page-container .main-container .content-container .content-main {
  display: flex;
  align-items: center;
  width: 5.26666667rem;
  height: 1.81333333rem;
  margin: 0.13333333rem 3.53333333rem 0.13333333rem 0.4rem;
}
.page-container .main-container .content-container .content-main .avatar {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
  margin: 0.50666667rem 0.36rem 0.50666667rem 0.4rem;
}
.page-container .main-container .content-container .content-main .desc-container {
  display: flex;
  flex-direction: column;
  width: 3.84rem;
  height: 1.28rem;
  margin: 0.4rem 2.81333333rem 0.4rem 0;
}
.page-container .main-container .content-container .content-main .desc-container .title {
  width: 2.58666667rem;
  font-size: 0.42666667rem;
  line-height: 0.64rem;
  text-align: left;
  margin: 0 1.25333333rem 0.10666667rem 0;
  color: #3c3e42;
}
.page-container .main-container .content-container .content-main .desc-container .desc {
  width: 3.84rem;
  font-size: 0.34666667rem;
  line-height: 0.53333333rem;
  text-align: left;
  margin: 0 1.25333333rem 0.10666667rem 0;
  color: #848484;
}
.page-container .main-container .content-container .content-main a {
  width: 0.45333333rem;
  height: 0.45333333rem;
  margin: 0.88rem 0.26666667rem 0.74666667rem 0rem;
}
.page-container .main-container .content-container .content-main a i {
  font-size: 0.45333333rem;
  color: #C3C3C5;
}
.page-container .main-container .content-container_new {
  width: 9.2rem;
  height: 2.08rem;
  border: 1px solid #EDEDED;
  border-radius: 0.10666667rem;
  padding-right: 0.26666667rem;
  margin: 0rem 0.4rem 0.4rem 0.4rem;
}
.page-container .main-container .content-container_new .content-main {
  display: flex;
  align-items: center;
  width: 5.26666667rem;
  height: 1.81333333rem;
  margin: 0.13333333rem 3.53333333rem 0.13333333rem 0.4rem;
}
.page-container .main-container .content-container_new .content-main .avatar {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
  margin: 0.50666667rem 0.36rem 0.50666667rem 0.4rem;
}
.page-container .main-container .content-container_new .content-main .desc-container {
  display: flex;
  flex-direction: column;
  width: 3.84rem;
  height: 1.28rem;
  margin: 0.4rem 2.81333333rem 0.4rem 0;
}
.page-container .main-container .content-container_new .content-main .desc-container .title {
  width: 2.58666667rem;
  font-size: 0.42666667rem;
  line-height: 0.64rem;
  text-align: left;
  margin: 0 1.25333333rem 0.10666667rem 0;
  color: #3c3e42;
}
.page-container .main-container .content-container_new .content-main .desc-container .desc {
  width: 3.84rem;
  font-size: 0.34666667rem;
  line-height: 0.53333333rem;
  text-align: left;
  margin: 0 1.25333333rem 0.10666667rem 0;
  color: #848484;
}
.page-container .main-container .content-container_new .content-main a {
  width: 0.45333333rem;
  height: 0.45333333rem;
  margin: 0.88rem 0.26666667rem 0.74666667rem 0rem;
}
.page-container .main-container .content-container_new .content-main a i {
  font-size: 0.45333333rem;
  color: #C3C3C5;
}
